header,
header a {
    color: #fff;
    background-color: #c5435a;
    height: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    font-size: 15px;
    flex-flow: wrap;
    overflow: hidden;
    flex-direction: row;
}

header .logo {
    font-size: 3vh;
    font-family: "Permanent Marker", serif;
}

header a {
    height: 100%;
}

header img {
    margin-right: 0.7em;
    width: 1.3em;
    height: 1.25em;
}

header a:hover {
    background-color: #b63f54;
    transition: all 0.5s;
    height: 100%;
    transform: scale(1.1);
}