section {
    background-image: url('/assets/background-section.gif');
    width: 100%;
    height: 50em;
    min-height: 12em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center; 
    padding: 20px;
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    background-color: #2b1a1ade;
    background-blend-mode: multiply;
    overflow: hidden;
}

section span {
    text-align: center;
    font-size: 96px;
}

.home {
    width: 47%;
    font-size: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home span {
    color: #d24660;
}

.home p {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.home h1, .home span, .home p {
    opacity: 0;
    transform: translateX(100%);
    animation: entradaAnimation 0.95s forwards;
}

.home h1 {
    animation-delay: 0.5s;
    margin: 0;
}

.home span {
    animation-delay: 1s;
}

.home p {
    animation-delay: 1.5s;
}

@keyframes entradaAnimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.buttons-container a{
    text-decoration: none;
    color: #fff;
}

.buttons-row {
    display: flex;
    gap: 1em;
}

.button {
    background-color: #a6374b;
    color: white;
    border: none;
    padding: 0.56vh;
    font-size: 1em;
    font-family: "Permanent Marker", serif;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

.button:hover {
    transform: translateY(-5px) rotate(1deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.arrow-down {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    animation: float 1.5s infinite ease-in;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-100px);
    }
}